<div class="card p-2">
    <div class="card-header">
        <h5>Resumen del pedido</h5>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Sub-total <span style="float: right;">{{ totalPrice | currency }}</span> </li>
        </ul>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Envio <span style="float: right;">0</span> </li>
        </ul>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Total <span style="float: right;">{{ totalPrice | currency }}</span> </li>
        </ul>
        
    </div>
    <div class="card-footer" *ngIf="!isCheckout">
        <a class="btn btn-success btn-block" (click)="goToCheckout()">ir a pagar</a> 
    </div>
</div>

