<div class="col mb-4 product-item" *ngIf="product">
  <div class="product-item-wrapper">
    <img
      [src]="product.image"
      [routerLink]="'/product/' + product.id"
      class="img-fluid"
      style=" max-width: 95%; max-height: 150px; display: block; margin: auto;"
      alt="{{ product.name }}"
    />
    <h5 class="name text-center">{{ product.name }}</h5>
    <h5 class="price">{{ product.priceSell | currency }}</h5>
    <button class="btn btn-outline-success btn-sm mt-1" (click)="onAddToCart()">
      Add to Cart
    </button>
  </div>
</div>
